@page
@using Locker
@model BarcodeModel
@Html.AntiForgeryToken()
@{ Layout = ""; }
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<body>
<form method="post" target="_blank">
    <input name="html" value="" hidden>
</form>
<div class="wrapper">

@foreach (var item in Model.BarcodeItems)
{
    <div class="main" style="width:300px;height:600px">
        <div style='float: left; height:35%;  width: 27%;margin-top:15px;border-right:1px solid;'>
            @if (!string.IsNullOrEmpty(item.TLPickCode))
            {
                <center>

                    <img class='qrimg' src='https://api.qrserver.com/v1/create-qr-code/?data=@item.TLPickCode&size=60x60'/>
                </center>
                <br>
                <br>
                <p style="font-size:14px;text-align:center">Cargo Point<br>@item.TargetCabineName</p>
            }
            else if (!string.IsNullOrEmpty(item.SLPickCode))
            {
                <center>
                    <img class='qrimg' src='https://api.qrserver.com/v1/create-qr-code/?data=@item.SLPickCode&size=60x60'/>

                </center>
                <br>
                <br>
                <p style="font-size:14px;text-align:center">Cargo Point<br>@item.SourceCabineName</p>
            }


        </div>
        <div style='float: left;   width: 72%;margin-top:15px;tex-align:center;height:35%'>
            <p style="text-align:center">@item.CreatedOn</p>
            <h4 style="text-align:center">GÖNDERİCİ BİLGİ</h4>
            <p style="text-align:center">
                @item.SenderName<br>
                @item.SenderPhone<br>
                @item.SenderAddress
            </p>
            <br><br>
        </div>
        <div style="width:99%;height:10%;border-top:1px solid;border-bottom:1px solid;float:left">
            <div class="barcode" style="height:100%;width:50%;float:left">
                <img src="https://www.pngarts.com/files/8/Barcode-PNG-Image-Transparent-Background.png" style="margin-top:2px;width:80%;height:50%">
                <span style="text-align:center;width:100%">ADACRG-@item.OrderId</span>
            </div>
            <div class="company" style="height:100%;width:50%;float:left">
                <span style="text-align:center">
                    adada cargo<br>
                    905073001543
                </span>
            </div>
        </div>
        <div style='float: left;width: 72%;tex-align:center;height:35%'>
            <p style="text-align:center">@item.CreatedOn</p>
            <h4 style="text-align:center">ALICI BİLGİ</h4>
            <p style="text-align:center">
                @item.ReceiverName<br>
                @item.ReceiverPhone<br>
                @item.ReceiverAddress
                <br>
                EBAT: @item.BoxSize
            </p>
            <br><br>
        </div>
        <div style='float: left; height:35%;  width: 27%;border-left:1px solid;'>
            @if (!string.IsNullOrEmpty(item.TLSaveCode))
            {
                <center>
                    <img class='qrimg' src='https://api.qrserver.com/v1/create-qr-code/?data=@item.TLSaveCode&size=60x60'/>
                </center>
                <br>
                <br>
                <p style="font-size:14px;text-align:center">Cargo Point<br>@item.TargetCabineName</p>
            }
            else if (!string.IsNullOrEmpty(item.SLSaveCode))
            {
                <center>
                    <img class='qrimg' src='https://api.qrserver.com/v1/create-qr-code/?data=@item.SLSaveCode&size=60x60'/>

                </center>
                <br>
                <br>
                <p style="font-size:14px;text-align:center">Cargo Point<br>@item.SourceCabineName</p>
            }
        </div>
    </div>
}
</div>
</body>


<script>
  $(document).ready(function(){

    $("input[name='html']").val($(".wrapper").html());
    $("form").submit();
/*
   $.ajax({
            type: "POST",
            url: "/barcode?handler=print",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },

            data:{"html":$(".main").html().trim().replace("\"","'")},
            success: function (result) {
              console.log(result);
                  var blob = new Blob([result], { type: 'application/pdf' });
                  var a = document.createElement('a');
                  var url = window.URL.createObjectURL(blob);
                  a.href = url;
                  a.download = 'barkodlar.pdf';
                  a.click();
                  window.URL.revokeObjectURL(url);
                
            },
            failure: function (response) {
              }
               
        });

  */
  });

</script>