@page
@using Locker.Enums
@model OrderCompletedModel
@{
    Layout = "_MainLayout";
}

<section class="section-basic">
    <div class="shell">
        <div class="section__content">
            <div class="popup popup--alt">
                <h2>Teşekkürler!</h2>

                <div class="popup__entry">
                    <p>Rezervasyon bilgileriniz SMS ve E-posta olarak size gönderildi. <br>
                        Lütfen takip numarasını paket üzerine yazmayı UNUTMAYIN!</p>
                </div><!-- /.popup__entry -->

                <div class="popup__holder">
                    <ul class="list-info popup__list-info">
                        @if (Model.Order.OrderItems.Count == 1)
                        {
                            <li>

                                <span>Bırakma Kodunuz:</span>

                                <strong>@Model.Order.OrderItems.FirstOrDefault().SLSaveCde
                                    @Model.Order.OrderItems.FirstOrDefault().TLSaveCode
                                </strong>

                            </li>
                        }

                        <li>

                            <span>Takip No:</span>

                            <strong>@Model.Order.Id</strong>

                        </li>
                    </ul><!-- /.list-info -->

                    <p>Şifrenizi üçüncü kişilerle paylaşırsanız, işlem sizin adınıza yapılmış sayılır.</p>
                </div><!-- /.popup__holder -->
            </div><!-- /.popup -->
        </div><!-- /.section__content -->
    </div><!-- /.shell -->
</section><!-- /.section-basic -->

<section class="section-table">
    <div class="shell shell--fluid">
        <div class="section__bar">
            <h3>Rezervasyon Özetiniz</h3>
        </div><!-- /.section__bar -->

        <div class="section__content">
            <div class="table">
                <table>
                    <colgroup>
                        <col class="table__col-size1">

                        <col class="table__col-size2">

                        <col class="table__col-size3">

                        <col class="table__col-size4">

                        <col class="table__col-size5">

                        <col class="table__col-size2">

                        <col class="table__col-size2">

                        <col class="table__col-size6">

                        <col class="table__col-size6">

                        <col class="table__col-size6">

                        <col class="table__col-size7">

                        <col class="table__col-size2">

                        <col class="table__col-size2">
                    </colgroup>

                    <thead>
                        <tr>
                            <th>Gönderici Adı</th>

                            <th>Gönderici Telefon</th>

                            <th>Gönderici Methodu</th>

                            <th>İşlem Zamanı</th>

                            <th>Alıcı Adı</th>

                            <th>Alıcı Telefon</th>

                            <th>Alıcı Metodu</th>

                            <th>Ebat</th>

                            <th>Ücret</th>

                            <th>Toplam</th>

                            <th>Bırakma Kodu</th>

                            <th>Takip No</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Order.OrderItems)
                        {
                            <tr>
                                <td>
                                    @item.Order.SenderName
                                </td>
                                <td>
                                    @item.Order.SenderPhone
                                </td>
                                <td>
                                    @if (item.Order.DeliveryType == (int)DeliveryType.AddressToAddress ||
                                   item.Order.DeliveryType == (int)DeliveryType.AddressToLocker)
                                    {
                                        @:Adres
                                    }
                                    else
                                    {
                                        @:Kargomat <a href="cabinePoints?cabineId=@item.SourceLockerId" style="color:red;"> @Model.Cabines.FirstOrDefault(x => x.Id
                                        == item.TargetLockerId)?.Name </a>
                                                    }
                                </td>
                                <td>
                                    @item.CreatedOn
                                </td>
                                <td>
                                    @item.Order.ReceiverName
                                </td>
                                <td>
                                    @item.Order.ReceiverPhone
                                </td>
                                <td>
                                    @if (item.Order.DeliveryType == (int)DeliveryType.AddressToAddress ||
                                   item.Order.DeliveryType == (int)DeliveryType.LockerToAddress)
                                    {
                                        @:Adres
                                    }
                                    else
                                    {
                                        @:Kargomat <a href="cabinePoints?cabineId=@item.TargetLockerId" style="color:red;"> @Model.Cabines.FirstOrDefault(x => x.Id
                                        == item.TargetLockerId)?.Name </a>
                                                    }
                                </td>
                                <td>
                                    @item.BoxSize
                                </td>
                                <td>@item.Amount</td>
                                <td>@item.Amount</td>

                                <td>
                                    @item.TLSaveCode @item.SLSaveCde
                                </td>
                                <td>
                                    @item.Id
                                </td>

                            </tr>
                        }



                    </tbody>
                </table>
            </div><!-- /.table -->
        </div><!-- /.section__content -->
    </div><!-- /.shell shell--fluid -->
</section><!-- /.section-table -->
</div>
</div>
</section>
</main>