@page 
@using Locker.Pages
@model PartnerOrderListModel 

    

      
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="alert alert-success courierAlert alert-dismissible" role="alert" style="display:none">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="card">
    <h5 class="card-header">Siparişlerim</h5>


    <div class="table-responsive text-nowrap">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Metod</th>
            <th>Ebat</th>
            <th>Adet</th>
            <th>Ücret</th>
            <th>Takip No/Sipariş No</th>
            <th>Durum</th>
            <th>Gönderime Hazır</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0"> 
            @foreach(var order in Model.Orders){ 
             


            @if(order.OrderItems.Count > 1){
                <tr>
                                <td>@order.DeliveryType</td>
                                <td></td>
                                  <td>@order.OrderItems.Count</td>

                                  <td>@order.TotalAmount TL</td>
                                  <td></td>
                                  <td>@order.Id</td>
                                  <td></td>
                                  <td>Detay</td>
       
            </tr>
            @foreach(var orderItem in order.OrderItems.GroupBy(x => x.BoxSize)){
                 <tr>
                                <td>@order.DeliveryType</td>
                                <td>@orderItem.Key</td>
                                  <td>@orderItem.Count()</td>

                                  <td>@orderItem.Sum(x => x.Amount) TL</td>
                                  <td>@order.ReceiverName</td>
                                  <td>@order.Id</td>
                                  <td></td>
                                  <td>Detay</td>
       
            </tr>
            }
            }else{
               
                     @foreach(var orderItem in order.OrderItems.GroupBy(x => x.BoxSize)){
                 <tr>
                                <td>@order.DeliveryType</td>
                                <td>@orderItem.Key</td>
                                  <td>@orderItem.Count()</td>

                                  <td>@orderItem.Sum(x => x.Amount) TL</td>
                                  <td>@order.ReceiverName</td>
                                  <td>@order.Id</td>
                                  <td></td>
                                  <td>Detay</td>
       
            </tr>
            }
                
            }
           
          
           
         } </tbody>
      </table>
        <div class="col">
      </div>
   
    </div>
  </div>
</div>

</div>

           
